// COLOR SAMPLE //
$ui-title-color: #4E4E4E;
$ui-subtitle-color: #7C7C7C;
$ui-text-color: #5C5C5C;
$ui-title-color-footer: #FEFEFE;
$ui-text-color-footer: #B9B9B9;
$ui-hover-color: #57A4A4;

// BREAKPOINT SAMPLE //
$ui-breakpoint-xl: "1199px";
$ui-breakpoint-xl-min: "1200px";

$ui-breakpoint-md: "767px";
$ui-breakpoint-md-min: "768px";

$ui-breakpoint-sm: "576px";
$ui-breakpoint-sm-min: "577px";

// INDEX SAMPLE //
$ui-index-2: 2;



